<h3 align="center">Welcome to League of Builds!</h3>

<p align="center">League of Builds is a platform for you to create, share, and browse item sets which can be easily imported into your League of Legends game!</p>


<div class="row">
  <div class="col-xs-6">
    <h3 align="center">
      <a class="btn btn-success btn-lg"  href="#/item-set/create">Create a Build</a>
      <br>
      <div style="border-style:solid;border-color:black;border-radius:4px;border-width:thin;margin-top:10px;">
        <img src="images/create.PNG" height="280" width="100%" style="margin-top:10px;">
      </div>
      <br>
      <h5 align"center">This page allows you to create your own build to share with friends or add to your game</h5>
    </h3>
  </div>
  <div class="col-xs-6">
    <h3 align="center">
      <a class="btn btn-primary btn-lg" href="#/browse">Browse Builds</a>
      <br>
      <div style="border-style:solid;border-color:black;border-radius:4px;border-width:thin;margin-top:10px;">
        <img src="images/browse.PNG" height="280" width="100%" style="margin-top:10px;">
      </div>
      <br>
      <h5 align"center">This page allows you to browse and find new builds that you can add to your game</h5>
    </h3>
  </div>
</div>
