<div class="block-wrapper">
  <div ng-show="unactivated" class="block-new" ng-click="makeNewBlock()">
    <h4 class="block-vertical-center">+ Add Block</h4>
  </div>
  <div ng-hide="unactivated" class="block">
    <div class="row">
      <div class="col-xs-11">
        <input ng-model="type" class="form-control dark borderless" type="text" placeholder="Block Name (e.g. Attack Damage)"/>
        <ul class="block-item-wrap" dnd-list="items">
          <li ng-repeat="item in items" dnd-draggable="move" dnd-effect-allowed="move" dnd-allowed-types="item"><item class="item" data='item' dnd-horizontal-list="true"></item></li>
        </ul>
      </div>
      <div class="col-xs-1">
      </div>
    </div>
  </div>
</div>