<div class="row col-xs-12">
  <h1>Create an item set</h1>
</div>
<div class="row">
  <div class="col-xs-5">
    <div class="row">
      <div class="col-xs-4">
        <h5>Categories</h5>
        <a ng-click="changeSelectedCategory('All')">All</a>
        <div data-ng-repeat="category in categories">
          <a ng-click="changeSelectedCategory(category)">{{category}}</a>
        </div>
      </div>
      <div class="col-xs-8">
        <div class="center">
          <input type="text" ng-model="itemSearch" class="form-control" placeholder="Item Search">
        </div>
        <div class="row">
          <div data-ng-repeat="item in items | filter:itemSearch">
            <div class="col-xs-3" ng-show="inRightCategory(item.tags)">
              <item class="item" data='item'></item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-7">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <p><strong>Give your item set a title:</strong>
          <input type="text" ng-model="itemSetTitle" class="form-control" placeholder="Title">
        </p>
      </div>
      <div class="col-xs-12 col-md-6">
        <p><strong>Choose a champion:</strong>
          <input type="text" ng-model="itemSetChampion" class="form-control" placeholder="Champion">
        </p>
      </div>
    </div>
    <hr>
  </div>
</div>