<div class="block-wrapper">
  <div ng-show="unactivated" class="block-new" ng-click="makeNewBlock()">
    <h4 class="block-vertical-center">+ Add Block</h4>
  </div>
  <div style="text-align:center" ng-hide="unactivated" class="block">
    <div class="row">
      <div class="col-xs-11">
        <input class="form-control dark borderless" type="text" placeholder="Block Name"/>
      </div>
      <div class="col-xs-1">
        <span style="margin-left:-13px;margin-top:3px;font-size:2.2em;color:white;" class="glyphicon glyphicon-remove-circle" ng-click="$parent.blocks.splice($index, 1)"></span>
      </div>
    </div>
  </div>
</div>