<link rel="stylesheet" type="text/css" href="css/item-set.css">
<div class="row col-xs-12">
  <h1>UGLY</h1>
</div>
<div class="row">
  <div class="col-xs-5">
    <div class="row">
      <div class="col-xs-4">
        <h5>Categories</h5>
        <a ng-click="changeSelectedCategory('All')">All</a>
        <div data-ng-repeat="category in categories">
          <a text-align=center ng-click="changeSelectedCategory(category)">{{category}}</a>
        </div>
      </div>
      <div class="col-xs-8">
        <div class="center">
          <input type="text" ng-model="itemSearch" class="form-control" placeholder="Item Search">
        </div>
        <div class="row">
          <div ng-repeat="item in items | orderBy:'name' | orderBy:'gold.total' | filter:searchItems">
            <div class="col-xs-6 col-md-3" ng-show="inRightCategory(item.tags)">
              <item class="item" data='item'></item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-7">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <p><strong>Give your item set a title:</strong>
          <input type="text" ng-model="itemSetTitle" class="form-control" placeholder="Title">
        </p>
      </div>
      <div class="col-xs-12 col-md-6">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Configuration Settings</h4>
              </div>
              <div class="modal-body">
                <!--FIX TO SEND VALUE OF SELECTED BOX -->
                <form ng-submit="submit(type, maps, mode)">
                  <label>Select Champions!</label></br>
                  <div ng-repeat="champ in champions" class="col-md-3">
                    <input type="checkbox" name="champions" value="{{champ.name}}"> 
                    <label>{{champ.name}}</label>
                  </div></br>
                  <label>Custom or Global</label>
                  <select class="form-control" ng-model="type">
                    <option selected="selected">Custom</option>
                    <option>Global</option>
                  </select>
                  <label>Maps</label>
                  <select class="form-control" ng-model="maps">
                    <option selected="selected">Any</option>
                    <option>Summoners Rift</option>
                    <option>Howling Abyss</option>
                    <option>Twisted Tree Line</option>
                    <option>Crystal Scar</option>
                  </select>
                  <label>Mode</label>
                  <select class="form-control" ng-model="mode">
                    <option selected="selected">Any</option>
                    <option>Classic</option>
                    <option>ARAM</option>
                    <option>Dominion</option>
                  </select>
                  <input class="btn btn-primary" type="submit" value="Submit!">
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div id="block-list" ng-repeat="block in blocks">
      <block></block>
    </div>
  </div>
</div>