<link rel="stylesheet" type="text/css" href="css/item-set.css">
<div class="row col-xs-12">
  <h1>UGLY</h1>
</div>
<div class="row">
  <div class="col-xs-5">
    <div class="row">
      <div class="col-xs-4">
        <h5>Categories</h5>
        <a ng-click="changeSelectedCategory('All')">All</a>
        <div data-ng-repeat="category in categories">
          <a text-align=center ng-click="changeSelectedCategory(category)">{{category}}</a>
        </div>
      </div>
      <div class="col-xs-8">
        <div class="center">
          <input class="dark form-control" type="text" ng-model="itemSearch" placeholder="Item Search">
        </div>
        <div class="row">
          <div ng-repeat="item in items | orderBy:'name' | orderBy:'gold.total' | filter:searchItems">
            <div class="col-xs-6 col-md-3" ng-show="inRightCategory(item.tags)">
              <item class="item" data='item'></item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-7">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <p><strong>Give your item set a title:</strong>
          <input class="dark form-control" type="text" ng-model="itemSetTitle" placeholder="Title">
        </p>
      </div>
      <div class="col-xs-12 col-md-6">
        <button type="button" class="btn btn-primary" style="margin-top:20px;margin-left:40px"data-toggle="modal" data-target="#myModal">
          Additional Settings
        </button>
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title black">Configure your Item Set</h4>
              </div>
              <form ng-submit="submit(itemSetMaps, champs)">
                <div class="modal-body">
                  <!--FIX TO SEND VALUE OF SELECTED BOX -->
                    <label>Select map(s) where your item set will appear</label>
                    <select class="form-control" ng-model="itemSetMaps">
                      <option>Any</option>
                      <option>Summoners Rift</option>
                      <option>Howling Abyss</option>
                      <option>Twisted Tree Line</option>
                      <option>Crystal Scar</option>
                    </select>

                    <label style="margin-top:20px;">Select which champion(s) you would like to use this item set with</label></br>
                    <div class="row">
                      <div class="col-xs-6">
                        <div ng-init="champView='All'"></div>
                        <div ng-click="champView='All'">
                          <input ng-model="champView" type="radio" name="showChampions" value="All">
                          <label>All</label>                    
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div ng-click="champView='Custom'">
                          <input ng-model="champView" type="radio" name="showChampions" value="Custom">
                          <label>Custom</label>
                        </div>
                      </div>
                    </div>

                    <div class="champ-selector-wrapper" ng-show="champView == 'Custom'">
                      <hr/>
                      <div class="row">
                        <div class="col-xs-6">
                          <select name="champFilterSelect" class="form-control" ng-model="champFilter">
                            <option>All</option>
                            <option>Support</option>
                            <option>Fighter</option>
                            <option>Tank</option>
                            <option>Assassin</option>
                            <option>Mage</option>
                            <option>Marksman</option>
                          </select>
                        </div>
                        <div class="col-xs-6">
                          <input class="form-control" type="text" ng-model="championSearch"/>
                        </div>
                        <div class="row">
                        <div class="center col-xs-3 btn-margin">
                          <a ng-click="checkAllCurrentChampions()" class="btn btn-primary">Check Current</a>
                        </div>
                        <div class="center col-xs-3 btn-margin">
                          <a ng-click="uncheckAllCurrentChampions()" class="btn btn-primary">Uncheck Current</a>
                        </div>
                        <div class="center col-xs-3 btn-margin">
                          <a ng-click="checkAllChampions()" class="btn btn-primary">Check All</a>
                        </div>
                        <div class="center col-xs-3 btn-margin">
                          <a ng-click="uncheckAllChampions()" class="btn btn-primary">Uncheck All</a>
                        </div>
                      </div>
                      
                      <div class="row">
                        <div ng-repeat="champ in champions | orderBy:name | filter:{name:championSearch}">
                          <div class="col-xs-3" ng-show="inRightChampCategory(champ.tags)">
                            <input type="checkbox" checklist-model='champs' checklist-value='champ.name'> 
                            <label>{{champ.name}}</label>
                          </div>
                        </div>
                      </div>
                    </div>

                </div>
                <div class="modal-footer">
                  <!--input class="btn btn-primary" type="submit" value="Submit!"!-->
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <br/>
    <div class="block-list" ng-repeat="block in blocks">
      <block></block>
    </div>
  </div>
</div>