<html>  
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-cookies.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-animate.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="css/index.css">

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/factory.js"></script>
    <script src="js/checklist-model.js"></script>
    <script src="js/angular-dragdrop.min.js"></script>

  </head>
  <body ng-app="app">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/#/">
            League Of Builds
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ng-class="{active: isActive('/')}">
              <a href="#/">Home</a>
            </li>
            <li ng-class="{active: isActive('/item-set/create')}">
              <a href="#/item-set/create">Create</a>
            </li>
            <li ng-class="{active: isActive('/browse')}" >
              <a href="#/browse">Browse</a>
            </li>
          </ul>
            <div class="navbar-right">
              <button style="margin-top:7%;" ng-click="refreshMyBuilds()" type="button" ng-show="isAuthenticated" class="btn btn-success" data-toggle="modal" data-target="#myBuildModal">My Builds</button>
              <myBuildsModal></myBuildsModal>
              <button style="margin-top:7%;" ng-click="rootLogout()" ng-show="isAuthenticated" class="btn btn-primary">Log out</button>
              <button style="margin-top:7%;" ng-click="removeLoginErrors()" ng-hide="isAuthenticated" type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Register / Log in</button>
              <!-- Modal -->
              <div id="loginModal" class="modal fade" role="dialog" ng-controller="AuthCtrl">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-body">
                      <div class="row center">
                        <div class="col-xs-6" style="border-right:thin solid #eee9e9">
                          <div id="registration">
                            <h4>Create A New Account</h4>
                            <div ng-show="registerError.length > 0" class="alert alert-danger" role="alert">
                              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                              <span class="sr-only">Error:</span>
                              {{registerError}}
                            </div>
                            <hr/>
                            <form ng-submit="register()">
                              <input class="form-control" ng-model="newUser.username" type="text" placeholder="Username" name="username">
                              <input class="form-control" ng-model="newUser.password" type="password" placeholder="Password" name="password">
                              <input class="form-control" ng-model="newUser.confirmPassword" type="password" placeholder="Confirm Password" name="confirmPassword">
                              <input class="form-control btn btn-primary" type="submit" value="Register">
                            </form>
                          </div>
                        </div>
                        <div class="col-xs-6">
                          <div id="login">
                            <h4>Log In</h4>
                            <div ng-show="loginError.length > 0" class="alert alert-danger" role="alert">
                              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                              <span class="sr-only">Error:</span>
                              {{loginError}}
                            </div>
                            <hr/>
                            <form ng-submit="login()">
                              <input class="form-control" ng-model="user.username" type="text" placeholder="Username" name="username">
                              <input class="form-control" ng-model="user.password" type="password" placeholder="Password" name="password">
                              <input class="form-control btn btn-primary" type="submit" value="Login">
                              <h1>{{warning}}</h1>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Maybe later</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <div class="main container">
        <div ng-show="pageError.length > 0" class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="margin-right:3%;"></span>
          <span class="sr-only">Error:</span>
          {{pageError}}
          <span style="font-size:1.5em;position:relative;margin-left:99%;margin-top:-2%" ng-click="pageError=''" class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
        </div>
        <div ng-show="pageSuccess.length > 0" class="alert alert-success" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="margin-right:3%;"></span>
          <span class="sr-only">Error:</span>
          {{pageSuccess}}
          <span style="font-size:1.5em;position:relative;margin-left:99%;margin-top:-2%" ng-click="pageSuccess=''" class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
        </div>
        <div ng-view></div>
      </div>

      <!-- Footer here !-->

      <!--             !-->
    </div>


    <link rel="stylesheet" href="css/three-quarters-loader.css" type="text/css">

  </body>
  </html>
