.item-popover {
  border-radius: 30px;
  padding:10px;
  position:absolute;
  z-index:100;
  min-width:225px;
  min-height: 100px;
  background-color:rgba(120,120,190,0.7);
  margin-left:50px;
  margin-top:-20%;
}

.item {
  margin-top:10px;
  margin-left:15px;
}

.block-new {
  height:150px;
  max-height:150px;
  width:100%;
  border-style: dashed;
  border-width: medium;
  border-color: gray;
  text-align: center;
  border-radius:25px;
}

.block-vertical-center {
  margin-top:60px;
}

.block-new:hover {
  background-color:rgb(0,30,20);
  border-style:solid;
  border-radius:25px;
}

.block {
  min-height:150px;
  width:100%;
  border-style:solid;
  border-color:white;
  border-radius:25px;
}

.block-list {
  margin-top:15px;
}

.center {
  text-align: center;
}

.btn-margin {
  margin-top:10px;
  margin-bottom:10px;
}

.modal-content {
  width:700px;
}
.modal-smaller {
  width:600px;
}

.champ-selector-wrapper {
  padding-left:30px;
  padding-right:20px;
}

.borderless {
  border:0px;
  background-color: transparent;
}
input:focus {
  outline:0;
}
li {
  display:inline-block;
}

.block-list {
  width:100%;
}
.block-item-wrap {
  height:125px;
  position:relative;
  width:100%;
}

.block-selected {
  border-color:yellow;
}

#item-upload-wrapper {
  text-align:left;
}